<div class="container">
  <mat-toolbar color="primary">
    <span>Responsive App</span>
  </mat-toolbar>

  <div class="content">
    <mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
          <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
          <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
